<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- include css files here -->
  <script src="https://kit.fontawesome.com/1b2d9e59ac.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/style/main.css">
  <title>Restaurant List</title>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <!-- views/layouts/main.hbs -->
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="餐廳清單">
          {{#if isAuthenticated}}{{ user.name}}'s {{/if}}
          餐廳清單
        </a>
        {{#if isAuthenticated}}
        <a href="/users/logout" class="btn btn-info">Logout</a>
        {{else}}
        <a href="/users/login" class="btn btn-info">Login</a>
        {{/if}}
      </div>
    </nav>

    <div class="banner"></div>
  </header>
  <!-- partial templates will replace the part of body here -->
  {{{body}}}
  <script src="/javascript/popper.js"></script>
  <script src="/javascript/bootstrap.js"></script>
</body>

</html>